html, body {
    width: 100%;
}
table {
    margin: 0 auto;
}

#bagua-table th {
    text-align: center;
    font-weight: bold;
}

#bagua-table td {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 2rem;
    white-space: nowrap;
    vertical-align: center;
    padding-top: 5px;
    padding-bottom: 12px;
    align-content: center;
}

#bagua-table .nw {
    background: #999;
}

#bagua-table .n {
    background: #03f;
    color: #fff;
}

#bagua-table .ne {
    background: #ff6;
}

#bagua-table .w {
    background: #ff0;
}

#bagua-table .c {
    background: #60c;
    color: #fff;
}

#bagua-table .e {
    background: #09f;
    color: #fff;
}

#bagua-table .sw {
    background: #963;
    color: #fff;
}

#bagua-table .s {
    background: #f60;
    color: #fff;
}

#bagua-table .se {
    background: #0c3;
    color: #fff;
}

#bagua-table .highlight {
    background: red;
}